.image-list {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding: 5px;
}

.image-list__img {
    width: 100%;
    margin-bottom: 10px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    cursor: pointer;
}

.image-list__img_selected {
    border: 1px solid var(--accent);
    box-shadow: 0 0 5px 3px var(--accent);
    outline: none;
}