.properties-table {
    width: 100%;
    border-collapse: collapse;
}

.properties-table,
.properties-table td,
.properties-table th {
    border: 1px solid var(--light);
}

.properties-table tr {
    width: 100%;
}

.properties-table th {
    width: 50%;
    text-align: left;
    padding: 0 5px 0 5px;
}