.sort-dialog{
    display:grid;
    margin-top:20px;
    grid-template-columns: 350px auto;
    grid-template-rows:auto auto;
    row-gap:10px;
}
.sort-dialog .btn{
    grid-column:span 2;
}
.sort-dialog .sort-btn{
    width:60px;
    height:42px;
    content:var(--icon-sort-asc);
    margin-left:20px;
    cursor:pointer;
    margin-bottom:10px;
}